@font-face {
    font-family: 'Atyp-Medium';
    src: local('Atyp Medium'), local('Atyp-Medium'),
        url('/assets/fonts/AtypDisplay-Medium/AtypDisplay-Medium.woff2') format('woff2'),
        url('/assets/fonts/AtypDisplay-Medium/AtypDisplay-Medium.woff') format('woff'),
        url('/assets/fonts/AtypDisplay-Medium/AtypDisplay-Medium.ttf') format('truetype');
    /* font-weight: 400; */
    font-style: normal;
}

@font-face {
    font-family: 'Atyp-Semibold';
    src: local('Atyp Semibold'), local('Atyp-Semibold'),
        url('assets/fonts/AtypDisplay-Semibold/AtypDisplay-Semibold.woff2') format('woff2'),
        url('/assets/fonts/AtypDisplay-Semibold/AtypDisplay-Semibold.woff') format('woff'),
        url('/assets/fonts/AtypDisplay-Semibold/AtypDisplay-Semibold.ttf') format('truetype');
    /* font-weight: 400; */
    font-style: normal;
}




*,
*:after,
*:before {
    box-sizing: border-box;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.mobile_header {
    display: none;
    width: 100%;
    height: 3.717472118959108vh;
    padding: 3vw auto;
    margin-bottom: 8.25vw;
}

.mobile_header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;


}



.mobile_header_text {
    position: relative;
    font-family: "Atyp-Medium";
    font-weight: 400;
    font-size: 2.5vh;
    line-height: 1vh;

    text-transform: lowercase;

    color: #000000;
}

.mobile_header::after {
    content: "";
    width: 100%;
    border: 1px solid #000000;
    position: absolute;
    top: 6vh;
    left: 0;
    z-index: 1;
}

.mobile_header_pic {
    height: 2.3vh;
}

@media (max-width: 1024px) {
    .mobile_header {
        display: block;
    }
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 73vw;
    /* max-width: 1435px; */
    /* min-width: 1435px; */
    padding: 5.4vh 1.1vw 1.62vh 1.1vw;
}

@media (max-width: 1024px) {
    .main_container {
        width: 96vw;
        padding: 1.4vh 2vw 1vh 2vw;

    }
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55.469vw;
}

.intro_inner {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1024px) {
    .intro_inner {
        flex-direction: column;
    }
}


.intro_about {
    height: 38vw;
    width: 28.65vw;
  
    background-color: white;
    border: .2vw solid #000000;
    padding: 1.25vw 1.35vw;
}

@media (max-width: 1024px) {
    .intro_about {
        width: 92.5vw;
        height: fit-content;
        border: .2vw solid #000000;
        padding: 0;
    }

    .intro_inner_item {
        margin-bottom: 2.25vw;
        border-bottom: 1px solid #000000;

    }

    .intro_inner_item:first-child {
        margin-bottom: 3.25vw;
    }

    .intro_inner_item:last-child {
        border-bottom: none;

    }
}

.about_title {
    position: relative;
    font-family: "Atyp-Semibold";
    font-weight: 400;
    font-size: 3.03vw;
    line-height: 3vw;
    letter-spacing: -0.005vw;

    color: #000000;

}

@media (max-width: 1024px) {
    .about_title {
        padding: 1.4vh 3.5vw;
        font-size: 4.46vh;
        line-height: 3.7vh;
    }

    .about_title::after {
        display: none;
    }
}


.about_title::after {
    content: "";
    width: 111%;
    border: .1vw solid #000000;

    position: absolute;
    top: 10vw;
    left: -1.5vw;
    z-index: 1;

}



.about_name {
    margin-top: 3vh;
    font-family: 'Montserrat';
    font-size: 2vw;
    line-height: 4.3vw;
    font-weight: 400;

    /* identical to box height, or 241% */

    letter-spacing: 0.002vw;

    color: #000000;

}

@media (max-width: 1024px) {

    .about_name {
        margin: 0;
        padding: 3.5vw;
        font-size: 2vh;
        line-height: 1vh;

        color: #000000;
    }
}

.about_description {
    width: 100vw;
    max-width: 80%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.68vh;
    line-height: 2.53vh;


    letter-spacing: 0.005vw;
    color: #000000;
}

@media (max-width: 1024px) {
    .about_description {
        width: none;
        padding: 1.4vh 3.5vw;

        font-size: 1.8vh;
        line-height: 2.5vh;

        letter-spacing: 0.005em;

        color: #000000;
    }
}

.intro_photoplace {
    position: relative;
    margin-top: 5.26vh;
    margin-left: -2.7vw;
    width: 560px;
    height: 730px;
    width: 28.65vw;
    height: 38vw;

    z-index: 1000;
    overflow:hidden;

}


.intro_photo {
    position: absolute;
    /* background-size: cover; */
    width: 100%;
    height: 100%;
    object-fit:cover;

   

}



@media (max-width: 1024px) {
    .intro_photoplace {
        width: 41.684vh;
        height: 30.526vh;
        margin: 2vh auto;
    }

    .intro_photo {

        background-size: cover;

    }
}

.delimetr {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 3.8vw;
    margin-bottom: 2.2vw;
    width: 100%;
    height: 2vw;
    z-index: 1000;

}


.delimetr_photo {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
   

}


@media (max-width: 1024px) {
    .delimetr_photo {
        width: 80vw;
        height: 1.53vh;

        display: flex;
        justify-content: center;
    }
}


/*Stroies*/

.story_container {
    display: flex;
    justify-content: space-between;
    /* padding: 0 4.73vw; */
    width: 63.542vw;
    margin-bottom: 2.292vw;
}

@media (max-width: 1370px) {
    .story_container {
        font-size: 2vw;
        width: 86vw;

    }
}

@media (max-width: 1280px) {
    .story_container {
        width: 80vw;

    }
}

@media (max-width: 1024px) {
    .story_container {
        font-size: 2vw;
        width: 87vw;

    }
}


.content {
    display: grid;
    /* margin-right: 2vw; */
    text-align: center;

}

content:last-child {
    margin-right: 0;
}

.img_container {
    display: inline-block;
    border-radius: 50%;
    margin: 1vh auto;
    cursor: pointer;
    box-shadow: 0 0 0 .3vw #D9D9D9;
}


.img_container img {
    display: block;
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    clip-path: circle(47%);
}

@media (max-width: 1024px) {
    .img_container img {
        width: 10vw;
        height: 10vw;
    }
}

.first {
    background-color: #E4B9B6;
}

.second {
    background-color: #C7B4BC
}

.third {
    background-color: #B3ADC1;
}

.four {
    background-color: #A9A5C0;
}

.five {
    background-color: #083A65;
}

.text_container {
    font-family: "Atyp-Medium";
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 1.05vh;

    letter-spacing: 0.02vw;
    text-transform: lowercase;
    margin-top: 2vw;
    color: #000000;
}

@media (max-width: 1024px) {
    .text_container {
        font-size: 2vw;
    }
}

@media (max-width: 600px) {
    .text_container {
        font-size: 1.3vh;
    }
}

/*rec btns*/

.record {
    display: flex;
    justify-content: space-between;
    width: 72.76vw;
    position: relative;
    margin-bottom: 10vh;

}

@media (max-width: 1024px) {
    .record {
        flex-direction: column;
        align-items: center;
        margin-bottom: 3vh;
        border-bottom: 1px solid black
    }

    .record::after {
        display: none;
    }
}


.rec-btn {
    width: 35.4vw;
    height: 11.076vh;
    margin: 0 auto;
    border-radius: 40px;
    background-color: black;
    font-family: "Atyp-Medium";

    font-weight: 400;
    font-size: 1.771vw;
    line-height: 2vh;

    letter-spacing: 0.0125vw;

    color: #FFFFFF;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .rec-btn {
        width: 30vh;
        height: 4vh;
        margin-bottom: 1vh;
        border-radius: 20px;
        font-size: 1.42vh;
    }
}

.record::after {
    width: 100%;
    content: "";
    border: 1px solid #000000;

    position: absolute;
    top: 15vh;
    z-index: 1;
}


.footer_link {
    text-decoration: none;
    cursor: pointer;
    color: #000000;

    font-family: "Atyp-Medium";
    font-style: normal;
    font-weight: 400;
    font-size: 3.6vh;
    line-height: 4.2vh;

    text-align: center;
    letter-spacing: 0.02vw;
    text-transform: lowercase;
}

@media (max-width: 1000px) {
    .footer_link {

        font-size: 1.63vh;
        line-height: 2vh;


    }
}

/*Card*/

.stories {
    display: none;
    /* justify-content: center; */
    /* align-items: flex-start; */
    z-index: 2000;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);

}

.stories_block {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 700px;
    padding: 17px 20px;
    border-radius: 27px;
    /* background-color: rgb(228, 226, 226); */
    border: 1px solid #000000;
    overflow: hidden;
}

#about {
    background-color: #E4B9B6;
}

#edu {
    background-color: #C7B4BC
}

#exp {
    background-color: #B3ADC1;
}

#price {
    background-color: #A9A5C0;
}

#methods {
    background-color: #083A65;
}



.card_bars {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.progress_bar_wrap {
    margin-left: 5px;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: #dedede;
}

.progress_bar:first-child {
    margin-left: 0;
}

#switch {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: 5000;
    opacity: 0;
    cursor: pointer;
}


.switch-active {
    opacity: 1;
    background-color: #000000;
    animation: showSwitch 1s;
    animation-fill-mode: forwards;
}


@keyframes showSwitch {
    /* 0% {background-color: rgba(0,0,0,1)}
    100% {background-color: rgba(0,0,0,0)} */
    0% {opacity: 1}
    100% {opacity: 0}
}

#switch img {
    width: 90%
}

.left-side {
    left: 0;
}

.right-side {
    right: 0;
}

.right-side img {
    transform: rotate(180deg);
}


/*About*/
.first_about {
    /* margin-top: 150px; */
    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    /* align-items: center; */
}

.photo_stories_about {
    /* margin: auto; */
    margin: 60px auto;
    height: 224px;
    width: 224px;

    background-image: url("http://placeimg.com/180/110/any");
    background-size: cover;


}

.first_about_text {
    /* margin-top: 3vh; */

    font-family: 'Atyp-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 45px;
    margin-top: 15px ;
    color: #000000;
}

.first_about_text--price {
    font-size: 36px;
    height: 90px;
}

.arrow_right {

    cursor: pointer;

    position: relative;

    width: 100%;


    margin: 30px 0;

}

.arrow_right div {

    position: relative;

    top: 20px;

    width: 100%;

    height: 6px;

    background-color: #000000;

    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);

    left: 0;

    display: block;

}

.arrow_right div::before {

    content: '';

    position: absolute;

    width: 27px;

    height: 6px;

    top: 7px;

    right: -5px;

    background-color: #000000;

    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);

    transform: matrix(0.71, -0.66, -0.76, -0.71, 0, 0);


    /* transform: rotate(-45deg); */

}

.arrow_right div::after {

    content: '';

    position: absolute;

    width: 27px;

    height: 6px;

    top: -7px;

    right: -5px;

    background-color: #000000;

    transform: matrix(0.71, 0.66, -0.76, 0.71, 0, 0);
    /* transform: rotate(45deg); */

}

:after,
:before {

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    box-sizing: border-box;

}

/*Edu*/
.second_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.second_about--price {
    align-items: flex-start;
    margin-top: 15px;
}


.second_about span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */


    color: #000000;
}

.circular_photo {
    text-align: center;

    height: 224px;
    width: 224px;
    background-size: cover;

    border-radius: 50%;
    margin-bottom: 70px;

}

.achive {
    display: flex;
    padding: 15px;
    justify-content: flex-start;
    width: 295px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 16px;
    margin: 20px auto;


}

.achive_icon {
    display: inline-block;

    margin-right: 10px;
}

.achive_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.stories_arrow {
    margin-top: 26px;
    margin-left: 239px;
}



/*Exp*/




/*Price*/

.line {
    width: 100%;
    border-top: 1px solid black;
}



/* FORM */

.form-container {
    display: none;
    justify-content:center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.form-window {
    padding: 20px;
    width: 500px;
    height: 600px;
    background-color: #fff;
    border-radius: 30px;
    border: 2px solid black;
}

.form-header {
    font-family: "Atyp-Medium";
    font-size: 30px;
    margin-bottom: 20px;
}

form {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#name, #email, #tel {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    border: 1px solid black;
    padding-left: 20px;
    font-family: "Atyp-Medium";
    font-size: 15px;
    margin-bottom: 5px;
}

label {
    font-family: "Atyp-Medium";
    font-size: 20px;
    align-self: flex-start;
}

#rec-type {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    border: 1px solid black;
    font-family: "Atyp-Medium";
    font-size: 15px;
    padding-left: 20px;
}

input[type=date] {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    border: 1px solid black;
    font-family: "Atyp-Medium";
    font-size: 15px;
    padding: 0 10px 0 20px;
    margin-bottom: 10px;
}

#message {
    width: 100%;
    height: 150px;
    resize: none;
    border-radius: 15px;
    border: 1px solid black;
    font-family: "Atyp-Medium";
    font-size: 15px;
    padding-left: 20px;
    margin-bottom: 10px;
}

input[type=submit] {
    width: 160px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 15px;
    border: none;
    font-family: "Atyp-Medium";
    font-size: 15px;
    cursor: pointer;
}

.left-side, .right-side {
    height:100%;
    width: calc((100%-350px)/2);
}




/* @media (max-width: 767px){
    .stories_block {
        height: 90%;
        width: 70%;
    }
} */

.card-bars {
    height: 5% !important;
}

#story {
    height: 95%;
}