@font-face {
    font-family: 'Atyp-Medium';
    src: local('Atyp Medium'), local('Atyp-Medium'),
        url('/assets/fonts/AtypDisplay-Medium/AtypDisplay-Medium.woff2') format('woff2'),
        url('/assets/fonts/AtypDisplay-Medium/AtypDisplay-Medium.woff') format('woff'),
        url('/assets/fonts/AtypDisplay-Medium/AtypDisplay-Medium.ttf') format('truetype');
    /* font-weight: 400; */
    font-style: normal;
}

@font-face {
    font-family: 'Atyp-Semibold';
    src: local('Atyp Semibold'), local('Atyp-Semibold'),
        url('assets/fonts/AtypDisplay-Semibold/AtypDisplay-Semibold.woff2') format('woff2'),
        url('/assets/fonts/AtypDisplay-Semibold/AtypDisplay-Semibold.woff') format('woff'),
        url('/assets/fonts/AtypDisplay-Semibold/AtypDisplay-Semibold.ttf') format('truetype');
    /* font-weight: 400; */
    font-style: normal;
}




*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.68vh;
    line-height: 2.53vh;
    border: 0px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    scroll-behavior: auto;
    scroll-behavior: smooth;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.mobile_header {
    display: none;
    width: 100%;
    height: 3.717472118959108vh;
    padding: 3vw auto;
    margin-bottom: 8.25vw;
}

.mobile_header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;


}



.mobile_header_text {
    position: relative;
    font-family: "Atyp-Medium";
    font-weight: 400;
    font-size: 2.5vh;
    line-height: 1vh;

    text-transform: lowercase;

    color: #000000;
}

.mobile_header::after {
    content: "";
    width: 100%;
    border: 1px solid #000000;
    position: absolute;
    top: 6vh;
    left: 0;
    z-index: 1;
}

.mobile_header_pic {
    height: 2.3vh;
}

@media (max-width: 500px) {
    .mobile_header {
        display: block;
    }
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 3vh;
    width: 78.75vw;
    z-index: 1000;
    padding: 6.2vh 9.948vw;
    max-width: 1512px;

}

@media (max-width: 500px) {
    .main_container {
        width: 96vw;
        padding: 1.4vh 2vw 1vh 2vw;

    }
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55.469vw;
}

.intro_inner {
    display: flex;
    flex-direction: row;
    margin-bottom: 3.646vw;
}

@media (max-width: 500px) {
    .intro_inner {
        flex-direction: column;
    }
}


.intro_about {
    height: 38vw;
    width: 28.65vw;

    padding: 1.25vw 1.35vw;
    background: rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.2));
    backdrop-filter: blur(7.5px);
}

@media (max-width: 500px) {
    .intro_about {
        width: 92.5vw;
        height: fit-content;
        border: .2vw solid #000000;
        padding: 0;
    }

    .intro_inner_item {
        padding: 20px 10px;
        /* margin-bottom: 2.25vw; */
        border-bottom: 1px solid #000000;

    }

    /* .intro_inner_item:first-child {
         margin-bottom: 3.25vw; 
    } */

    .intro_inner_item:last-child {
        border-bottom: none;

    }
}

.about_title {
    position: relative;
    font-family: "Atyp-Semibold";
    font-weight: 400;
    font-size: 3.03vw;
    /* line-height: 3vw; */
    letter-spacing: -0.005vw;
    line-height: 2.6vw;
    /* or 83% */

    letter-spacing: -0.005em;

    color: #000000;
    /* background-color:#A9A5C0; */

}

@media (max-width: 500px) {
    .about_title {
        font-size: 4.46vh;
        line-height: 3.7vh;
        border: none
    }
}






.about_name {
    margin-top: 2.656vw;
    font-family: 'Montserrat';
    font-size: 1.875vw;
    line-height: 1.25vw;
    font-weight: 400;

    /* identical to box height, or 241% */

    letter-spacing: 0.002vw;

    color: #000000;
    margin-bottom: 1.354vw;

}

@media (max-width: 500px) {

    .about_name {
        margin: 0;
        /* padding: 3.5vw; */
        font-size: 20px;
        /* line-height: 1vh; */

        color: #000000;
    }
}

.about_description {
    width: 90%;
    /* max-width: 80%; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: .833vw;
    line-height: 1.25vw;


    letter-spacing: 0.005vw;
    color: #000000;
}

@media (max-width: 500px) {
    .about_description {
        width: none;
        /* padding: 1.4vh 3.5vw; */
        max-width: 100%;
        font-size: 1.8vh;
        line-height: 2.5vh;

        letter-spacing: 0.005em;

        color: #000000;
    }
}

.intro_photoplace {
    position: relative;
    margin-top: 5.26vh;
    margin-left: -2.7vw;
    /* width: 560px;
    height: 730px; */
    width: 28.65vw;
    height: 38vw;
    z-index: 1000;
    overflow: hidden;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.2));
}


.intro_photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media (max-width: 500px) {
    .intro_photoplace {
        width: 41.684vh;
        height: 30.526vh;
        margin: 2vh auto;
    }

    .intro_photo {

        background-size: cover;

    }
}

.delimetr {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 1.823vw;
    width: 52.031vw;
    max-width: 999px;
    height: 4.1vh;
    z-index: 1000;

}


.delimetr_photo {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;


}


@media (max-width: 500px) {
    .delimetr_photo {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
    }
}


/*Stroies*/

.story_container {
    display: flex;
    justify-content: space-around;
    /* padding: 0 4.73vw; */
    width: 100%;
    /* max-width: 1130px; */

    margin-bottom: 2.292vw;

}

@media (max-width: 1370px) {
    .story_container {
        font-size: 2vw;
        /* width: 86vw; */

    }
}

@media (max-width: 1280px) {
    .story_container {
        width: 80vw;

    }
}

@media (max-width: 500px) {
    .story_container {
        font-size: 2vw;
        width: 87vw;

    }
}


.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 3.7vw;

    text-align: center;

}

.content:last-child {
    margin-right: 0;
}

.img_container {
    display: inline-block;
    border-radius: 50%;
    margin: .5vw auto;
    cursor: pointer;
    box-shadow: 0 0 0 .3vw #D9D9D9;
    transition: 0.1s;
    margin-bottom: 2.6vw;

}


.img_container img {
    display: block;
    width: 8.2vw;
    height: 8.2vw;
    object-fit: cover;
    clip-path: circle(47%);
}



.first {
    background-color: #EDC6D0;
}

.second {
    background-color: #D1AEBD
}

.third {
    background-color: #B3ADC1;
}

.four {
    background-color: #A9A5C0;
}

.five {
    background-color: #083A65;
}

.text_container {
    font-family: "Atyp-Medium";
    font-size: 1.25vw;
    font-weight: 400;
    line-height: .521vw;


    letter-spacing: 0.02vw;
    text-transform: lowercase;
    color: #000000;
}

@media (max-width: 500px) {
    .text_container {
        font-size: 2.143vw;
    }
}

/* @media (max-width: 600px) {
    .text_container {
        font-size: 2vw;
    }
} */

/*rec btns*/

.record {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 5.208vw;

}

@media (max-width: 500px) {
    .record {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 3vh;
    }

    .record::after {
        display: none;
    }
}


.rec-btn {
    width: 48%;
    height: 4.427vw;
    /* margin: 0 auto; */
    border-radius: 2.16vw;
    background-color: black;
    font-family: "Atyp-Medium";

    font-weight: 400;
    font-size: 1.44vw;
    line-height: 2vh;

    letter-spacing: 0.0125vw;

    color: #FFFFFF;
    cursor: pointer;
    transition: .5s;
    margin-right: 25px;
}

.rec-btn:last-child {
    margin-right: 0;
}

.rec-btn:hover {
    background-color: white;
    color: #000000;
    transition: .5s;
}

@media (max-width: 500px) {
    .rec-btn {
        width: 30vh;
        height: 4vh;
        margin-bottom: 1vh;
        border-radius: 20px;
        font-size: 1.42vh;
    }
}

.slider-wrapper {
    width: 100%;
    height: auto;
}

.slider-header {
    font-family: "Atyp-Semibold";
    line-height: normal;
    font-size: 42px;
    font-weight: 400;
}

.slider {
    width: 100%;
    height: auto;
}

.slider-tabs {
    /* width: 12vw; */
    width: 200px;
}

.tabs {
    display: flex;
    justify-content: space-between;
}

.tabs span {
    font-family: "Atyp-Semibold";
    line-height: normal;
    font-size: 22px;
    font-weight: 300;
    cursor: pointer;
}

.toggle {
    background-color: #EDEDED;
    height: 10px;
    border-radius: 100px;
    margin: 15px 0 30px 0;
    position: relative;
}

.toggle-active {
    transition: 0.3s;
    position: absolute;
    left: 0;
    background-color: black;
    width: 50%;
    height: 100%;
    border-radius: 100px;
}

.slide {
    height: 450px;
    display: flex;
    align-items: center;
    justify-items: center;
}


.slick-slide {
    margin-right: 20px;
}

.slick-track .slick-slide {
    height: auto !important;
}

.slide-1 {
    background-color: tomato;
}

.slide-2 {
    background-color: teal;
}

.slide-3 {
    background-color: burlywood;
}

.slide-4 {
    background-color:#083A65;
}

.slide-5 {
    background-color:blueviolet;
}

.slide-6 {
    background-color:gold;
}

.first-slide, .second-slide {
    width: 100%;
    height: 100%;
}

.first-slide img{
    /* object-fit: contain; */
    width: 100%;
    height: 100%;
}

.second-slide img{
    width: 100%;
    height: 100%;
}

.second-slide {
    display: none;
}

.dots-wrapper {
    height: 60px;
    width: 100%;
}


.slick-dots {
    position: static;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	
	list-style-type: none;
}
	
.slick-dots li {
	margin: 20px;
}
	
.slick-dots li button {
    display: block;
    width: 2.5vw;
    height: 2.5vw;
    padding: 0;
    border: none;
	background-image: url('../img/dot.svg');
	background-size: contain;
    background-repeat: no-repeat;
	text-indent: -9999px;
}
	
.slick-dots li.slick-active button {
	background-image: url('../img/dot_active.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width: 767px) {
    .slick-dots li button {
        width: 4vw;
        height: 4vw;
    }
    
    .slide {
        height: 50vh;
        display: flex;
        align-items: center;
        justify-items: center;
    }
    .slick-slide {
        margin: 0 5px;
    }
}



.blog {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    width: 63.542vw;
    padding: 2vw 2vw;
    background: rgba(255, 255, 255, 0.37);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.blog-wrapper {
    display: flex;
}

.blog_text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    margin-right: 5%;
}

.blog_text_wrapper {
    width: 100%;
    height: auto;
}

.blog_text_wrapper p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.blog_text_wrapper em {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: italic;
}

.blog_photoplace {
    position: relative;
    width: 40%;
    height: 38vw;
    overflow: hidden;
}

.blog_photo {
    position: absolute;
    /* background-size: cover; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*Footer*/

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    margin-top: 5vh;
    padding: 0 20px 0 20px;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: fit-content;
    max-height: 400px;
    margin-top: 10vh;
    padding: 6vh;
    /* background-color: hsla(266, 56%, 85%, 1);
    background-image:
        radial-gradient(at 64% 24%, hsla(2, 47%, 80%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 0%, hsla(335, 13%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 11% 38%, hsla(257, 14%, 72%, 1) 0px, transparent 50%),
        radial-gradient(at 73% 58%, hsla(248, 17%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(208, 85%, 21%, 1) 0px, transparent 50%);
    animation: footer 10s infinite linear;
    background: blur(5px);

    background-size: 400%; */
}

/* @keyframes footer {
    0% {
        background-position: 80% 0%;
    }

    50% {
        background-position: 20% 100%;
    }

    100% {
        background-position: 80% 0%;
    }
} */


.footer_1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.2vh;
}


.footer_link {
    text-decoration: none;
    cursor: pointer;
    color: #000000;

    font-family: "Atyp-Medium";
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;

    text-align: center;
    letter-spacing: 0.02vw;
    text-transform: lowercase;
}


.footer_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 10px;
    margin-bottom: 4.2vh;
    height: 84px;
    border: 1px solid black;
    border-radius: 100px;
    text-align: center;
}
.footer_2 span {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.footer_3 {
    width: 31.122vh;
    max-width: 305px;
    /* max-height: 60px; */
    padding: 1.094vw;
    border: 1px solid black;
    border-radius: 40px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.footer_3 a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat';
}








.footer_3:hover {
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

@media (max-width: 1000px) {
    .footer_link {
        font-size: 1.63vh;
        line-height: 2vh;
    }

    .footer_2 {
        width: 42vh;
    }

    .footer_2 span {
        font-size: 1.58vh;
        line-height: 2vh;
    }

    /* .footer_3 {
        width: 33vh;
    } */
    .footer_3 a {
        font-size: 1.58vh;
        line-height: 2vh;
    }
}

/*Card*/

.stories {
    display: none;
    /* justify-content: center; */
    /* align-items: flex-start; */
    z-index: 2000;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);

}

.stories_block {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 390px;
    height: 780px;
    padding: 17px 20px;
    border-radius: 27px;
    /* background-color: rgb(228, 226, 226); */
    border: 1px solid #000000;
    overflow: hidden;
}

#about {
    background-color: #E4B9B6;
}

/* .stories_block:first-child {
    padding: 0;
    margin: 0;
}  */

/* .stories_block div#story.first_about {
    background-image: url("../img/ju_pic.jpg");
    background-size: cover;
    padding: 0;
    margin: 0;
} */

#edu {
    background-color: #C7B4BC
}

#exp {
    background-color: #B3ADC1;
}

#price {
    background-color: #A9A5C0;
}

#methods {
    background-color: #083A65;
}



.card_bars {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.progress_bar_wrap {
    margin-left: 5px;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: #dedede;
}

.progress_bar_wrap:first-child {
    margin-left: 0;
}

#switch {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: 5000;
    opacity: 0;
    cursor: pointer;
}


.switch-active {
    opacity: 1;
    background-color: #000000;
    animation: showSwitch 1s;
    animation-fill-mode: forwards;
}


@keyframes showSwitch {

    /* 0% {background-color: rgba(0,0,0,1)}
    100% {background-color: rgba(0,0,0,0)} */
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

#switch img {
    width: 90%
}

.left-side {
    left: 0;
}

.right-side {
    right: 0;
}

.right-side img {
    transform: rotate(180deg);
}


/*About*/

.first_about {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    /* margin-bottom: 95px; */
}

.about_inner {
    margin-bottom: 95px;
    padding: 17px 20px;
}

.about_text-wrapper div {
    color: white;

}

.header_stories {
    font-family: 'Atyp Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 45px;
    margin-top: 15px;
    color: black;
    text-align: left;
}

.header_stories--price {
    font-size: 36px;
    height: 90px;
}

.arrow_right {

    cursor: pointer;

    position: relative;

    width: 100%;


    margin: 30px 0;

}

.arrow_right div {

    position: relative;

    top: 20px;

    width: 100%;

    height: 6px;

    background-color: white;

    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);

    left: 0;

    display: block;

}

.arrow_right div::before {

    content: '';

    position: absolute;

    width: 27px;

    height: 6px;

    top: 7px;

    right: -5px;

    background-color: white;

    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);

    transform: matrix(0.71, -0.66, -0.76, -0.71, 0, 0);


    /* transform: rotate(-45deg); */

}

.arrow_right div::after {

    content: '';

    position: absolute;

    width: 27px;

    height: 6px;

    top: -7px;

    right: -5px;

    background-color: white;

    transform: matrix(0.71, 0.66, -0.76, 0.71, 0, 0);
    /* transform: rotate(45deg); */

}

:after,
:before {

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    box-sizing: border-box;

}

/*Edu*/
.second_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.second_about--price {
    align-items: flex-start;
    margin-top: 15px;
}


.second_about span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */


    color: #000000;
}

.circular_photo {
    text-align: center;

    height: 224px;
    width: 224px;
    background-size: cover;

    border-radius: 50%;
    margin-bottom: 70px;

}

.achive {
    display: flex;
    padding: 15px;
    justify-content: flex-start;
    width: 295px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 16px;
    margin: 20px auto;


}

.achive_icon {
    display: inline-block;

    margin-right: 10px;
}

.achive_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.stories_arrow {
    margin-top: 26px;
    margin-left: 239px;
}



/*Exp*/




/*Price*/

.line {
    width: 100%;
    border-top: 1px solid black;
}

.first_price,
.second_price,
.third_price,
.fourth_price {
    flex-direction: column;
}



/* FORM */

.form-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.form-window {
    padding: 20px;
    width: 576.62px;
    height: 800px;
    background-color: #fff;
    border-radius: 30px;
    border: 2px solid black;
}

.form-header {
    font-family: "Atyp-Medium";
    font-size: 30px;
    margin-bottom: 20px;
}

form {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

input, select {
    margin-bottom: 15px;
}

#name,
#email,
#tel {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    border: 1px solid black;
    padding-left: 20px;
    font-family: "Atyp-Medium";
    font-size: 15px;
}

label {
    margin-bottom: 15px;
    font-family: "Atyp-Medium";
    font-size: 20px;
    align-self: flex-start;
}

.rec-type {
    width: 100%;
    /* height: 40px; */
}

input[type=date] {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    border: 1px solid black;
    font-family: "Atyp-Medium";
    font-size: 15px;
    padding: 0 10px 0 20px;
    margin-bottom: 10px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: black;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 3px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #000000;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

#message {
    width: 100%;
    height: 150px;
    resize: none;
    border-radius: 15px;
    border: 1px solid black;
    font-family: "Atyp-Medium";
    font-size: 15px;
    padding-left: 20px;
    margin-bottom: 10px;
}

input[type=submit] {
    width: 160px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 15px;
    border: none;
    font-family: "Atyp-Medium";
    font-size: 15px;
    cursor: pointer;
}

.left-side,
.right-side {
    height: 100%;
    width: calc((100%-350px)/2);
}


.header_stories-wrapper {
    height: auto;
}


/* MEDIA FOR STORIES */

@media (max-width: 500px) {

    /* BLOG */

    .blog {
        width: 100%;
        height: 50vh;
        display: block;
    }

    .blog-window {
        width: 100%;
        height: 100%;
        overflow: scroll;
        scroll-snap-type: x mandatory;
    }

    .blog-wrapper {
        display: flex;
        flex-wrap: nowrap;
        width: 200%;
        height: 100%;
    }

    .blog_text {
        order: 2;
        position: static;
        width: 100%;
        margin: 0;
        padding: 20px;


        scroll-snap-align: center;
    }


    .blog_text p {
        font-family: "Atyp-Medium";
        font-weight: 400;
    }

    .blog_photoplace {
        order: 1;
        padding: 10px;
        height: auto;
        position: static;
        width: 85%;
        margin: 0;
        scroll-snap-align: start;
    }

    .blog_photo {
        position: static;
    }
}

@media (max-width: 767px) {
    /* STORIES ICONS */

    /* .content {
        width: 10%;
    } */

    /* STORIES */

    .stories_block {
        height: 510px;
        width: 70%;
        border-radius: 15px;
    }

    .card-bars {
        height: auto !important;
    }

    #story {
        height: 95%;
        width: 100%;
    }

    #story div {
        width: 100%;
    }

    /* About */

    .photo_stories_about {
        margin: 60px 0 30px 0;
    }


    .about_text-wrapper h1 {
        font-size: 30px;
        line-height: 30px;
    }

    .second_about {
        margin-top: 30px;
    }

    .about_text-wrapper .achive_text {
        font-size: 16px;
    }

    .second_about .circular_photo {
        width: 180px;
        height: 180px;
    }

    /* Edu */
    .edu_text-wrapper {
        margin: 10px 0 0 0;
    }

    .edu_text-wrapper h1 {
        font-size: 30px;
        line-height: 30px;
    }

    /* Exp */

    .exp_text-wrapper {
        margin: 10px 0 0 0;
    }

    .exp_text-wrapper h1 {
        font-size: 30px;
        line-height: 30px;
    }

    /* Price */

    .price_text-wrapper {
        margin-top: 10px;
        width: 100%;
        min-height: 55px;
    }

    .price_text-wrapper h1 {
        margin: 0;
        font-size: 22px;
        line-height: 24px;
    }

    .achive_column {
        padding-top: 10px;
    }

    .achive {
        height: 35px;
        align-items: center;
        padding: 0 0 0 15px;
        margin: 0 0 20px 0
    }

    .achive_icon {
        display: flex;
        align-items: center;
        height: auto !important;
        width: auto !important;
        /* margin-right: 5px; */
    }

    /* Methods */
    .methods_text-wrapper {
        margin-top: 10px;
        width: 100%;
        min-height: 55px;
    }

    .methods_text-wrapper h1 {
        font-size: 30px;
        line-height: 30px;
    }

    /* FORM */


    .form-window {
        padding: 20px;
        width: 80%;
        height: auto;
        background-color: #fff;
        border-radius: 30px;
        border: 2px solid black;
    }

    .form-header {
        text-align: center;
        line-height: 22px;
        font-size: 20px;
    }

    input {
        height: 40px !important;
    }
}



@media(max-width: 321px) {
    textarea {
        height: 50px !important;
    }
}

#canvas-basic {
    box-sizing:content-box;
    z-index: -10000;
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    /* right: 0;
    bottom: 0; */
    left: 0;
}
